*{
	margin: 0 ;
	padding:0;
}

/*header start*/

header{
	
	background-color: #121b2a;
	padding: 10px 0;
}
.wrapper {
	width: 80%;
	margin: 0 auto;
	overflow: hidden;

	

}

.logo {
	width: 15%;
float: left;
}

.menu {
	width: 70%;
	float: right;
	margin-top: 25px;
	overflow: hidden;

	
}
.logo img{
	width: 100%;

} 

.menu ul{
	float: right;

}

.menu ul li{
	list-style: none;
	float: left;
	

}

}
.menu ul li:last-child a{
	padding-right:0 ;
}
.menu ul li a{
	text-decoration: none;
	margin: 10px 15px;
	display: block;
	color: white;
	transition: .8s;

}

.menu ul li a:hover{
	color: #00788d;
	

}
/*header end*/
/*banner start*/
.banner {
	background-image: url(../images/earth.jpg);
	background-repeat: no-repeat;
	background-size: cover;

	background-position: center ;

}



.banner-content {
	margin-top: 200px;
	margin-bottom: 50px;
	width: 45%;
}

.banner-content  p:first-child{
	 color: white;
 	font-family: sans-serif; 
	

	font-size: 28px

 	
}

.banner-content p:last-child{

}



.banner-content a:last-child{

}

.banner-content button{
	border: none;
    padding: 10px 20px;
    border-radius: 5pc;
    color: #5a5a5a;
    font-size: 16px;
    margin-top: 20px;
    background-color: white;
    text-transform: uppercase;
}


.banner-content button span{
	background-color: blue;
	padding: 9px 2px;
    border-radius: 50pc;
    margin-left: 10px;
    font-weight: 700;
    color: darkblue;
}
/*banner end*/
/*servic start*/
.service{
	background-color: #121b2c;
	padding: 50px 0;
	
}

.single{
	width: 27%;
	padding: 10px 20px;
	float: left;
	border-right:2px solid #1A2430 ;
	margin-left: 35px;
}
.single:last-child{
	border-right: 0;
	
}
.title{
	overflow: hidden;
	margin-bottom: 15px;
}
.icon{
	width: 25%;
	float: left;
}

.icon img{
	width: 100%;
}
.icon-content{
	width: 70%;
	float: left;
	margin-top: 7px;
}


.icon-content h1{
	color: white;
	text-transform: capitalize;
	font-family: sans-serif;
	font-size: 20px;
	font-weight: normal;
}
.icon-content h2{
	color: #0079BC;
	text-transform: capitalize;
	font-family: sans-serif;
	font-size: 23px;
	font-weight: normal;
}
.content{}
.content p{
	color: white;
	font-family: sans-serif;
	line-height: 1.4;
	font-size: 15px;

}
/*servic end*/